{% extends "home/base.html" %}

{% block title %} <title>Web-tools</title> {% endblock title %}

{% block content %}

<main class="container">
    <br>
    <section class="row">
        <div class="col">
            <h1>Web-tools Page</h1>
            <ul>
                <li>
                    <a href="{% url 'webtools:webtools-sha-functions' %}">SHA converter</a>
                </li>
                <li>
                    <a href="{% url 'webtools:webtools-iplookup' %}">IP Lookup</a>
                </li>
            </ul>
        </div>
    </section>
</main>

{% endblock content %}