{% extends "home/base.html" %}

{% block title %} <title>Portfolio Home</title> {% endblock title %}

{% block content %}

{% load static %}

<main class="container">

    <div class="row">
        <p class="col top-name">Sergey Vardanyan</p>
    </div>

    <section class="row align-items-center">
        <article class="col-7">
            <h1>Hi! It's me, Sergey Vardanyan.</h1>
            <p class="top-name">I am a Software developer</p>

            <button type="button" class="btn btn-secondary btn-lg">
                <span>Send message</span>
            </button>
        </article>

        <div class="col-5">
            <img class="my-photo" src="{% static '/home/images/me1.jpg' %}" alt="sergey vardanyan">
        </div>
    </section>

    <br>
    <br>
    <br>

    <div class="row">
        <p class="col social-links">
            <a href="https://www.linkedin.com/in/sergey-vardanyan-724811229/" rel="nofollow" target="_blank">LinkedIn</a> / 
            <a href="https://github.com/sevard" rel="nofollow" target="_blank">GitHub</a> / 
        </p>
    </div>

    <br>
    <br>
    <br>

    <section class="row justify-content-between">
        <article class="col-7 intro">
            <h2>— Experience</h2>
            <hr>
            <p>
                I am proficient in working with a number of technologies.  
                Over the years, I've honed my skills to deliver top-notch solutions 
                that meet the highest standards of quality and efficiency.
                While crafting web applications, I thrive on challenges 
                and I am committed to delivering excellence in every project I undertake.
            </p>
        </article>
        <article class="col-4 intro">
            <h2>— Skills</h2>
            <hr>
            <div class="row">
                <ul class="col-6">
                    <li>Python</li>
                    <li>Java</li>
                    <li>SQL</li>
                    <li>Shell Script</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>HTML/CSS</li>
                </ul>
                <ul class="col-6">
                    <li>Django</li>
                    <li>Flask</li>
                    <li>FastAPI</li>
                    <li>SpringBoot</li>
                    <li>Linux</li>
                    <li>Git</li>
                    <li>GitHub</li>
                </ul>
            </div>
        </article>
    </section>

    <br>
    <br>
    <br>

</main>

{% endblock content %}
