{% extends "home/base.html" %}

{% load static %}

{% block title %} <title>Sergey Vardanyan</title> {% endblock title %}

{% block content %}

<main class="container mt-5">
    <section class="row align-items-center pt-5">
        <div class="p-3 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid">
                <article class="row align-items-center mt-3">
                    <div class="col-md-8 mb-3">
                        <h1 class="display-3">Hi! It's me,</h1>
                        <h2 class="display-4">Sergey Vardanyan</h2>
                        <p class="fs-1 mt-2">I am a Software Developer </p>
                    </div>

                    <div class="col-md-4 mb-3">
                        <img class="my-photo rounded-3" src="{% static '/home/images/me1.jpg' %}"
                            alt="sergey vardanyan">
                        <div class="social-links mt-5">
                            <a href="https://www.linkedin.com/in/sergey-vardanyan-724811229/" rel="nofollow"
                                target="_blank">LinkedIn</a> /
                            <a href="https://github.com/sevard" rel="nofollow" target="_blank">GitHub</a> /
                        </div>
                    </div>
                </article><!--row-->
            </div><!--container-->
        </div><!--jumbotron-->
    </section>

    <section class="row align-items-center">
        <div class="p-3 mb-4 bg-body-tertiary rounded-3">
        <!-- <div class="p-3"> -->
            <div class="container-fluid">
                <div class="row">
                    <article class="col-md-7 mb-5">
                        <h1 class="display-5">About Me</h1>
                        <hr class="my-4">
                        <p class="fs-3 mt-2"> 
                            Welcome to my website!
                            I am a passionate software developer with expertise in a variety of technologies. 
                            Over the years, I’ve honed my skills to craft high-quality, efficient solutions that meet the highest standards. 
                            I thrive on tackling challenges and am committed to delivering excellence in every project I undertake.
                            <br> <br>
                            This website serves as a hub to showcase my projects, highlight my skills, and share useful resources for those 
                            interested in web development and testing.

                            What truly excites me about software development is the way the internet connects people across the globe. 
                            It's remarkable how we sometimes take for granted what was meticulously engineered over decades by countless 
                            brilliant minds. Knowing the rich history behind this innovation—the collective effort of so many 
                            engineers—drives my motivation and fuels my passion for staying involved and contributing to this incredible 
                            field. Thank you for visiting, and I hope you find value in what I share here!
                        </p>
                    </article>
                    <article class="col-md-5 mb-5">
                        <h1 class="display-5">Skills</h1>
                        <hr class="my-4">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action list-group-item-light">Python</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">Django / Flask</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">JavaScript / TypeScript / React</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">HTML / CSS</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">Java / SpringBoot</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">SQL / MongoDB</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">Linux / Shell Script</li>
                            <li class="list-group-item list-group-item-action list-group-item-light">Git / GitHub</li>
                        </ul>
                    </article>
                </div><!--row-->
            </div><!--container-->
        </div><!--jumbotron-->
    </section>
</main>

{% endblock content %}