<!DOCTYPE html>

{% load static %}

<html class="h-100" lang="en">

<head>
  <meta name="author" content="sergey vardanyan">
  <meta name="email" content="srg.v@posteo.us">

  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
  
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link type="text/css" rel="stylesheet" href="{% static 'home/css/custom.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'home/images/favicon.png' %}">

  <!-- Custom JavaScript for Webtools app-->
  <script src="{% static 'webtools/js/webtools.js' %}" defer></script>

  {% block title %} <title> Progmapp </title> {% endblock title %}

</head>
<body class="d-flex flex-column h-100 bg-body-secondary">
  {% block navbar %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home:main-page' %}">PROGMAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:home-about' %}">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog-home' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'games:games-index' %}">Games</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'webtools:webtools-index' %}">Webtools</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}

  {% block content %} {% endblock content %}

  <footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <span>Copyright &#169; Sergey Vardanyan</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
    crossorigin="anonymous"></script>
</body>

</html>
