{% extends "home/base.html" %}

{% block title%} <title>Progmapp Home</title> {% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <br>
                <h1>Software Development and Testing</h1>
            </div>
            <div class="col">
                <br>
                <quote>"Little strokes will tumble great oaks" <br>― Benjamin Franklin</quote>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <h3>Why is this web-site?</h3>
                <p>
                    I really like building and tesing software. Over the years I have learned, and I still continue learning,
                    various principles and techniques on how to build and test software. Hopefully this can be a place
                    where anyone interested can find some usefull information.
                </p>
            </div>
            <div class="col">
                <h3>Who is this web-site for?</h3>
                <p>
                    Anyone who likes to build, test, share with others' and have fun with their product. 
                    Those who probably want to learn more about software development or is in general curious about how things 
                    work behind the scenes. Perhaps anyone who is interested in learing Python, HTML, CSS, JavaScript, GNU/Linux, Unix, Git 
                    or tools for automating tests at Component, Integration or System Test levels.
                </p>
            </div>
        </div>
    </div>


</div>

{% endblock content %}