{% extends "home/base.html" %}

{% block title %} <title>Progmapp Home</title> {% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <br>
        <header class="row">
            <h1 class="col-8">Software Development and Testing</h1>
            <quote class="col">"Little strokes will tumble great oaks" <br>― Benjamin Franklin</quote>
        </header>
        <hr />
        <div class="row"> <!-- Outer row -->
            
            <section class="col-8">
                <article class="row"> <!--Why is this web-site?-->
                    <div class="col">
                        <h3>Why is this web-site?</h3>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                            evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                </article>

                <article class="row"> <!--Who is this web-site for?-->
                    <div class="col">
                        <h3>Who is this web-site for?</h3>
                        <p>
                            Why do we use it?
                            It is a long established fact that a reader will be distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                            of letters, as opposed to using 'Content here, content here', making it look like readable English. Many
                            desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a
                            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have
                            evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </p>
                    </div>
                </article>
            </section>

            <aside class="col">
                <br>
                <span class="row">
                    <img src="static/home/images/main_page_background.jpg" alt="image with computer desk">
                </span>
            </aside>

        </div> <!-- End of Outer row -->
    </div>
</div>

{% endblock content %}
