{% extends "home/base.html" %}

{% block title %} <title>Welcome</title> {% endblock title %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <br>
        <div class="row">
            <h1 class="col">Hello</h1>
            <quote class="col-4">"Little strokes will tumble great oaks" <br>― Benjamin Franklin</quote>
        </div>
        <section class="row">
            <p class="intro">
               I created this website to showcase my projects in one convenient location 
            and to highlight my skills. In addition, I will post some usefull
            information to people who are interested in web-development and testing.
            I'm passionate about software development, and I'm truly amazed by how the internet connects people worldwide. 
            It's easy to take for granted, but there's a rich history behind it, 
            and it took the collective effort of countless engineers to make it as seamless as it is today. 
            </p>
        </section>
    </div>
</div>
{% endblock content %}
