{% extends "home/base.html" %}
{% extends "polls/main.html" %}


{% block title %}
	<title>Polls Detail</title>
{% endblock title %}

{% block content %}

<h1>Polls Detail Page</h1>
<br>

{% include "polls/main.html" %}

<br>
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<h1>{{ question.question_text }}</h1>
			{% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}
			<form action="{% url 'polls:polls-vote' question.id %}" method="post">
				{% csrf_token %}
				{% for choice in question.choice_set.all %}
				<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
				<label for="{{ forloop.counter }}">{{ choice.choice_text}}</label><br>
				{% endfor %}
				<input type="submit" value="Vote">
			</form>
		</div>
	</div>
</article>
{% endblock content %}