{% extends "home/base.html" %}

{% block title %}
<title>Polls Welcome Page</title>
{% endblock title %}

{% block content %}
<br>
<h1>Polls Welcome Page</h1>
<br>
{% include "polls/main.html" %}
<br>
<hr>
<article class="media content-section">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="#">Test link class="mr-2"</a>
			<small class="text-muted">Test small tag class="text-muted"</small>
		</div>
		<h2><a class="article-title" href="#">Test link class="article-title"</a></h2>
		<p class="article-content">Test paragraph class="article-content"</p>
	</div>
</article>
{% endblock content %}