{% extends "home/base.html" %}

{% block title%} <title>Games</title> {% endblock title %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <br>
        <div class="row ">
            <ul class="col-8">
                <li>
                    <span>
                        <a href="{% url 'games:guess-page' %}"> Guessing Game </a>
                    </span>
                </li>
                <li>
                    <span>
                        <a href="{% url 'games:guess-page' %}">Some Other Game</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
