{% extends "home/base.html" %}

{% block title%} <title>Play</title> {% endblock title %}

{% block content %}

<div class="container">
    <div class="container-fluid">
        <h1>Play Page</h1>
        {% if guess > 20 %}
          <h2>Your guess is correct, <b>{{guess}}</b> is greater than 20</b></h2>
        {% elif guess < 20 %} 
          <h2>Your guess is NOT correct, <b>{{guess}}</b> is less than 20</h2>
        {% else %}
          <h2>Oh no.. you missed the bug!</h2>
        {% endif %}
    </div>
</div>

{% endblock content %}