{% extends "base.html" %}

{% block title %}
			<title>Blog</title>
{% endblock title %}

{% block navbar %}
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
					<div class="container">
							<a class="navbar-brand mr-4" href="{% url 'main-page' %}">Django Project</a>
							<button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
											data-target="#navbarToggle" data-toggle="collapse" type="button">
									<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarToggle">
									<div class="navbar-nav mr-auto">
											<a class="nav-item nav-link" href="{% url 'blog:blog-home' %}">Home</a>
											<a class="nav-item nav-link" href="{% url 'blog:blog-about' %}">About</a>
									</div>
									 <!-- Navbar Right Side -->
									<div class="navbar-nav">
											<a class="nav-item nav-link" href="#">Login</a>
											<a class="nav-item nav-link" href="#">Register</a>
									</div>
							</div>
					</div>
			</nav>
		</header>
{% endblock navbar %}

{% block content %}

	<h1>Home Page</h1>
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted }}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}
