html {
  height: 100%;
}

body {
  height: 100%;
  background: #efefee;
  color: #333333;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* h1, h2, h3, h4, h5, h6 {
  color: #2d2727;
} */

ul {
  margin: 0;
}

footer {
    /* background-color: #212529; */
    background-color: #343535;
    color: white;
    text-align: center;
}

.my-photo {
  width: 90%;
  filter: grayscale(65%);
  box-shadow: 5px 4px 15px -2px rgba(0,0,0,0.55);
  -webkit-box-shadow: 5px 4px 15px -2px rgba(0,0,0,0.55);
  -moz-box-shadow: 5px 4px 15px -2px rgba(0,0,0,0.55);
}

.content-1 {
  display: flex;
  flex-direction: column;
}

/* p tag with my name */
.top-name {
  padding: 0.5em 0;
  font-size: calc(1.3rem + 0.3vw);
}

.intro h2 {
  font-size: 1.5rem; 
  font-weight: 300;
}

.intro p {
  font-size: 1rem; 
  font-weight: 300;
}

.social-links a {
  font-size: large;
  color: #333333;
}
/*
.bg-steel {
  background-color: #5f788a;
}

.bg-image {
  background: rgb(219, 225, 226) url('/static/home/images/main_page_background.jpg');
} 
  
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} */
