{% extends "home/base.html" %}

{% block title %} <title>Utils</title> {% endblock title %}

{% block content %}
<div class="container">
    <div class="container-fluid">
        <br>
        <div class="row">
            <h1 class="col">Utils Page</h1>
        </div>
        <div class="row">
            <ul class="col">
                <li>
                    <a href="{% url 'utils:utils-sha-functions' %}">Convert SHA Values</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
